<div class="sessao">

    <div class="busca">
        <img src="../../../assets/pokemon.png" width="440px">
        <input placeholder="Digite o nome do Pokemon" type="text" (input)="getPokemon($any($event.target).value)">
    </div>
    <div class="card">
        <div class="card__title">
            <h3> {{pokemon.name}}</h3>
        </div>
        <div class="card__body">
            <img [src]="pokemon.sprites.front_default" height="220" alt="pokemon">
        </div>
        <p><b>Type(s):</b></p>
        <div class="card__stats">
            
            <span class="card__stats__type" *ngFor="let t of pokemon.types">
                {{ t.type.name }}
            </span>
        </div>
    </div>
</div>